<html ng-app = "appZ">

  <% include partials/header.ejs %>

  

 <style>
    div.col-sm-4
    {
        margin-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 50px;
        border: 10px solid #add8e6;
        background: #d3d3d3;
    }
  </style>

  
  <script>
      function initialize() {
        var mapProp = {
        center:new google.maps.LatLng(29.6436, -82.3549),
        zoom:15,
        mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById('googleMap'),mapProp);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

 <body>   
  <center><u><h1>Events</h1></u><center>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <center><h1 class="events-form-title">New Event</h1></center>

          <div ng-controller="EventCtrl" ng-init="init()">

            <div class="form-group">
              <label for="events-form-title">Title</label>
              <input type="text" placeholder = "Enter your event title" class="form-control" ng-model="thisEvent.eventName" />
            </div>                       

            <div class="form-group">
                <label for="events-form-location">Location</label>
                <input type="text" placeholder = "Enter your event location" class="form-control" ng-model="thisEvent.eventLocation" />
                <div id="googleMap" style="width:250px; height: 250px;margin-top: 8px;"></div> 
            </div>

            <div class="form-group">
                <label for="events-form-startTime">Start Time</label>
                <input type="text" placeholder = "Enter your event start time" class="form-control" ng-model="thisEvent.eventStartTime" />
            </div>

            <div class="form-group">
                <label for="events-form-endTime">End Time</label>
                <input type="text" placeholder = "Enter your event end time" class="form-control" ng-model="thisEvent.eventEndTime" />
            </div>

            <div class="form-group">
              <label for="events-form-email">Email</label>
              <input type="text" placeholder = "Enter your account email" class="form-control" ng-model="thisEvent.eventContactEmail" />
            </div> 

            <div class="form-group">
                <label for="events-form-phone">Phone Number</label>
                <input type="text" placeholder = "Enter your phone number" class="form-control" ng-model="thisEvent.eventContactNumber" />
            </div>

            <div class="form-group">
                <label for="events-form-url">Url</label>
                <input type="text" placeholder = "Enter event URL" class="form-control" ng-model="thisEvent.eventURL" />
            </div>

            <input type="button" ng-click = "postEvent(thisEvent)" value = "Submit" />

          </div><!-- controller -->
        </div><!-- col -->
      

        <aside class="col-sm-8">
          <div ng-controller="EventCtrl" >
            <center><h1 class="article-title">Recent Events</h1></center>
              <div ng-repeat="item in events">              
                <h3>{{item.eventName}} </h3>
                <p>{{item.eventLocation}}</p>
              </div>
          

          Comments:
            <div ng-repeat="comment in comments">
                <div>
                    {{comment.author}}
                    <br>
                    {{comment.comment}}
                </div>   
                <br><br>
            </div>
            <br>
            Make a comment <br>
            <textarea ng-model="comment.comment" name="comment">Enter text here...</textarea> <br>
            <input type="submit" ng-click="makeComment(comment)">
          </div>
        </aside><!-- secondary -->        
      </div><!-- row -->  
    </div><!-- container -->
  
  </body>
</html>
