  
<html >
    <style>
        div.div1
        {
            width: 500px;
            height: 250px;
            top: 50%;
            left: 50%;
            position: absolute;
            margin-top: -150px;
            margin-left: -250px;
            border: 7px solid #add8e6;
            background: #d3d3d3;
        }
    </style>
    <head>
        <title>College Events</title>
        
    </head>
    <body>
    <center>

        <h1>Login</h1>

        
        <form class="form"  action="/" method="post">              
            <div class="form-group">
                <LABEL>Username: <br></LABEL>
                <input type="text" name="username" id="username"><br>
                <LABEL>Password: <br></LABEL>
                <input type="password" name="password" id="password"><br>
            </div><br>
            <button type="submit" class="btn btn-default">Login</button>
            
        </form>

        

        


    </center>
        
        
    </body>

    
</html>