  
<html ng-app="app">
    <head>
        <title>College Events</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <!--<script src="angular.js"></script>-->
     	<script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/login-controller.js"></script>
        <script type="text/javascript" src="/javascripts/services/user-service.js"></script>
    </head>
    <body>
        <div ng-controller="LoginCtrl">
        	<center>
        		<h1>Login</h1>
	            <label>Username: &nbsp<input type="text" ng-model="user.username" /></label><br />
	            <label>Password: &nbsp&nbsp<input type="password" ng-model="user.password" /></label><br />
	            <br>
	            <input type="button" ng-click="login(user)" value="Log in" />
	            <input type="button" ng-click="signUp()" value="Register" />
        	</center>
        </div>
        
    </body>

    
</html>