<% include partials/header.ejs %>
  <style>
    div.col-sm-4
    {
        margin-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 50px;
        border: 10px solid #add8e6;
        background: #d3d3d3;
    }
  </style>
 <body>
  <center><u><h1> Organizations </h1></u></center>
  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <center><h1 class="organizations-form-title">New Organization</h1>
          <form class="organizations-form">
            <div class="form-group">
              <label for="organizations-form-name">Creator</label>
              <input type="text" class="form-control" id="organizations-form-name" placeholder="Enter your email">
            </div>

            <div class="form-group">
              <label for="organizations-form-title">Title</label>
              <input type="text" class="form-control" id="organizations-form-title" placeholder="Title of your organization">
            </div>

            <div class="form-group">
                <label for="user1-form-message">User 1</label>
                <input type="text" placeholder="Enter user email"  class="form-control" id="user1-form-message"></input>
            </div>

            <div class="form-group">
                <label for="user2-form-message">User 2</label>
                <input type="text" placeholder="Enter user email"  class="form-control" id="user2-form-message"></input>
            </div>

            <div class="form-group">
                <label for="user3-form-message">User 3</label>
                <input type="text" placeholder="Enter user email"  class="form-control" id="user3-form-message" ></input>
            </div>

            <div class="form-group">
                <label for="user4-form-message">User 4</label>
                <input type="text" placeholder="Enter user email"  class="form-control" id="user4-form-message" ></input>
            </div>

            <div class="form-group">
                <label for="user5-form-message">User 5</label>
                <input type="text" placeholder="Enter user email"  class="form-control" id="user5-form-message"></input>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
          </form></center>
        </div><!-- primary -->
        <!-- primary -->
        <aside class="col-sm-8">
          <div class="maincontent organizations">
              <center><h2 class="article-title">Organizations</h2></center>
              <div class="organizations-messages"></div>
          </div>
        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
</body>
