<html ng-app="app">
    <head>
        <title>College Events</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/login-controller.js"></script>
        <script type="text/javascript" src="/javascripts/services/user-service.js"></script>    </head>
    <body>
        <div ng-controller="LoginCtrl">
            <label>Username: <input type="text" ng-model="user.username" /></label><br />
            <label>Password: <input type="password" ng-model="user.password" /></label><br />
            <input type="submit" ng-click="createUser(user)" value="Register" />
        </div>
        
    </body>

    
</html>
