  
<html >
    <style>
        div.div1
        {
            width: 500px;
            height: 250px;
            top: 50%;
            left: 50%;
            position: absolute;
            margin-top: -150px;
            margin-left: -250px;
            border: 7px solid #add8e6;
            background: #d3d3d3;
        }
        input, label,button {
            width: 15%;
        }
    </style>
    <head>
        <title>College Events</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
    <body>
    <center>

        <h1><u>Register</u></h1><br>

        
        <form class="form"  action="/register" method="post">              
            <div class="form-group">
                <LABEL>Name: </LABEL>
                <input type="text" name="name" id="name"><br>
                <LABEL>Username: </LABEL>
                <input type="text" name="username" id="username"><br>
                <LABEL>Password: </LABEL>
                <input type="password" name="password" id="password"><br><br>
                <LABEL>Account: </LABEL>
                <select name = "type">
                    <option value = "student"> Student </option>
                    <option value = "admin"> Admin </option>
                    <option value = "superAdmin"> Super Admin </option>
                </select>

            </div>
            <button type="submit" class="btn btn-success">Register</button>
            
        </form>

        

        


    </center>
        
        
    </body>

    
</html>