<html>

<style>
  input, label,button,textarea {
            width: 20%;
        }
</style>


<%= include partials/header.ejs %>

 <body>
  <center><u><h1>Universities</h1></u><center></br></br>
    <form class="form"  action="/universities" method="post">              
            <div class="form-group">
                <LABEL>University Name: </LABEL>
                <input type="text" name="name" id="name"><br>
                <LABEL>Location: </LABEL>
                <input type="text" name="location" id="location"><br>
                <LABEL>Description: </LABEL>
                <input type="text" name="description" id="description"> </input><br>
                <LABEL>Student Population: </LABEL>
                <input type="text" name="population" id="population"><br>

            </div>
            <br><br>
            <button type="submit" class="btn btn-success">Create</button>
            
        </form>
  </body>
</html>
