  
<html >
    <style>
        div.div1
        {
            width: 500px;
            height: 250px;
            top: 50%;
            left: 50%;
            position: absolute;
            margin-top: -150px;
            margin-left: -250px;
            border: 7px solid #add8e6;
            background: #d3d3d3;
        }
    </style>
    <head>
        <title>College Events</title>
    </head>
    <body>
    <center>
        
        <form class ="form" action = "/" method = "post">  
            <div class ="form-group">

                <h1>Hey</h1>
                <%= username %>
                
            </div>

        </form>        


    </center>
        
        
    </body>

    
</html>