<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>College Events</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <link rel="styleshet" type="text/css" href="style.css" >
        <!--<script src="angular.js"></script>-->
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/dashboard-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/org-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/nav-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/create-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/event-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/search-controller.js"></script>
        <script type="text/javascript" src="/javascripts/services/user-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/event-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/org-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/uni-service.js"></script>
    </head>

    <body>
        <div ng-controller="NavCtrl" class="topnav" id="myTopnav">
            <a href="/dashboard">Home</a>
            <a href="/test">Test</a>
            <a href="/search">Search</a>
            <a href="#about">About</a>
            <br>
            Database Event Website
            <br>
            <br>
        </div>
        <div ng-controller="CreateCtrl">
            <div class="createOrg">
                Create an Organization
                <form>
                    <label>Name: <input type="text" ng-model="rso.name" /></label><br />
                    <label>Admin Email: <input type="text" ng-model="rso.adminEmail" /></label><br />
                    <label>Student Email: <input type="text" ng-model="rso.studentEmail1" /></label><br />
                    <label>Student Email: <input type="text" ng-model="rso.studentEmail2" /></label><br />
                    <label>Student Email: <input type="text" ng-model="rso.studentEmail3" /></label><br />
                    <label>Student Email: <input type="text" ng-model="rso.studentEmail4" /></label><br />
                    <label>Student Email: <input type="text" ng-model="rso.studentEmail5" /></label><br />

                    <input type="button" ng-click="resetOrg()" value="Reset" />
                    <input type="submit" ng-click="saveOrg(rso)" value="Save" />
                </form>
            </div>
            <br><br>
            <div class="createEvent">
                Create an Event
                <form>
                    <label>Name: <input type="text" ng-model="event.name" /></label><br />
                    <label>Location: <input type="text" ng-model="event.location" /></label><br />
                    <label>Description: <input type="text" ng-model="event.description" /></label><br />
                    <label>Contact Email: <input type="text" ng-model="event.contactEmail" /></label><br />
                    <input type="button" ng-click="resetEvent()" value="Reset" />
                    <input type="submit" ng-click="saveEvent(event)" value="Save" />
                </form>
            </div>
            <br><br>
            <div class="createUni">
                Create a University Profile
                <form>
                    <label>Name: <input type="text" ng-model="uni.name" /></label><br />
                    <label>Location: <input type="text" ng-model="uni.location" /></label><br />
                    <label>Description: <input type="text" ng-model="uni.description" /></label><br />
                    <label>Number of Students: <input type="text" ng-model="uni.numStudents" /></label><br />
                    <input type="button" ng-click="resetUni()" value="Reset" />
                    <input type="submit" ng-click="saveUni(uni)" value="Save" />
                </form>
            </div>         
        </div>
        <br>
        <div ng-controller="DashCtrl" ng-init="init()">
            <br><br>
            Hi, {{name}}
            <br><br>
            <div ng-repeat="org in orgs">
                <a ng-click="selectOrg(org)">
                    <div>
                        {{org.name}}
                        <br>
                        {{org.description}}
                    </div>   
                </a>
                <br><br>
            </div>
        </div>
        <br>
    </body>
</html>