<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Search</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <link rel="styleshet" type="text/css" href="style.css" >
        <!--<script src="angular.js"></script>-->
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/dashboard-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/org-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/nav-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/create-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/event-controller.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/search-controller.js"></script>
        <script type="text/javascript" src="/javascripts/services/user-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/event-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/org-service.js"></script>
        <script type="text/javascript" src="/javascripts/services/uni-service.js"></script>
    <body>
        <div ng-controller="NavCtrl" class="topnav" id="myTopnav">
            <a href="/dashboard">Home</a>
            <a href="/search">Search</a>
            <a href="#about">About</a>
            <br>
            Database Event Website
            <br>
            <br>
        </div>
        <div ng-controller="SearchCtrl" class="search" ng-init="init()">
            <input type="radio" name="type" ng-model="search.type" value="org"/>Organization
            <input type="radio" name="type" ng-model="search.type" value="event"/>Event
            <label><input type="text" ng-model="search.query"/></label>
            <button ng-click="querySearch(search)">Search</button>
            <br><br>
            <div ng-repeat="sr in searchResults">
                <a ng-click="goTo(sr)">
                    <div>
                        {{sr.name}}
                        <br>
                        {{sr.description}}
                    </div>   
                </a>
            </div>
        </div>
        
    </body>